<div class="jumbotron" style="height: 220px; width:auto; background-color:palegreen;">

    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-3" style="margin:-55px">
            <img src="img/fotopruebahtml.png" alt="img" style="height: 200px; width: 500px;">
        </div>

        <div class="col-sm-5" style="margin:inherit">
            <h1 style="text-align: center;">Emprendimiento</h1>
            <h4 style="text-align: center;">Carteras, bijouterie y mas.</h4>
            <p style="text-align: center;">Bonito, barato y en tu barrio. Hacemos envios.</p>
            <br>
            <br>
            <br>
            <div class="buscarproducto">
                <label for="producto">¿Qué estás buscando?</label>
                <input type="text" name="product" id="product">
            </div>
            <button id="buscar" onclick="buscarProducto()">Buscar</button>
    </div>
</div>



<script>
    function buscarProducto() {

        let url = "/productos?"

        let product = document.getElementById("product").value;

        if (product) {
            url += "productos=" + product;
        }

        location = url;
    }


</script>