<div class="jumbotron" style="height: 220px; width:auto; background-color:palegreen;">

    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-3" style="margin:-55px">
            <img src="img/fotopruebahtml.png" alt="img" style="height: 200px; width: 500px;">
        </div>

        <div class="col-sm-5" style="margin:inherit">
            <h1 style="text-align: center;">Emprendimiento</h1>
            <h4 style="text-align: center;">Carteras, bijouterie y mas.</h4>
            <p style="text-align: center;">Bonito, barato y en tu barrio. Hacemos envios.</p>
            <br>
            <br>
            <br>
            <div class="buscarproducto">
                <label for="producto">¿Qué estás buscando?</label>
                <input type="text" name="product" id="product">
            </div>
            <button id="buscar" onclick="buscarProducto()">Buscar</button>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="background-color:blue; color:white; padding-bottom:70px; margin-top:30px;"><div style="padding-top:40px; font-size:30px;">¿Querés sumarte a nuestro emprendimiento? ¡Haz click <button onclick="sumarseEmprendimiento()" id="sumarse" style="color:black;">aquí</button>!</div></div>



<script>

    /** Esta funcion llamada del botón buscar, lleva a la url en donde se arrojan los resultados */
    function buscarProducto() {

        /** url del app.get "/productos", queda "localhost:3000/productos" */

        let url = "/productos?"

        /** Se crea el elemento del string que se pone en la búsqueda dentro del input*/

        let product = document.getElementById("product").value;

        /** Se arma la url de la página con los resultados arrojados según la búsqueda. Ej, si se buscó "anillo", queda "localhost:3000/productos?productos=anillo" **/

        if (product) {
            url += "productos=" + product;
        }

        location = url;
    }

    function sumarseEmprendimiento() {

        let url = "/sumarse"

        let sumarse = document.getElementById("sumarse");

        location = url;

    }


</script>